{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <!-- sidebar starts here -->
    <br><br><br>
	<div class="sidebar-toggle" id="sidebar">
        <ul class="nav nav-sidebar">
            <li>
                <a href="https://voip.buludtech.com">
                    <i style="font-size:21px" class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="https://voip.buludtech.com/reports">
                    <i style="font-size:23px" class="fas fa-chart-bar"></i>
                    <span>Reports</span>
                </a>
            </li>
            <li>
                <a href="https://voip.buludtech.com/settings">
                    <i style="font-size:21px" class="fas fa-cogs"></i>
                    <span>Settings</span>
                </a>
            </li>

			<li>
                <a href="https://voip.buludtech.com/en/admin/logout/">
                    <i style="font-size:25px" class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- sidebar ends here -->

	<!-- main container starts here -->
	<div class="page-content-toggle" id="page-content-wrapper">
        <div class="container-fluid">

            <!-- row starts here -->
            <div style="width: 700px;margin:0 auto;" class="row">
                <div class="col-md-12">
                    <div class="card card-block">
                        <div class="card-body">
                            <h4 class="card-title">Admin Panel</h4>
                            <a href="https://voip.buludtech.com/en/admin"><h4 class="card-title">Administration</h4></a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 700px;margin:0 auto;" class="row">
                <div class="col-md-12">
                    <div class="card card-block">
                        <div class="card-body">
                            <h4 class="card-title">Upload RBT Media</h4>
                            <p class="card-text">
                                Click Browse button to choose your RBT media file and hit Upload button to upload it to the server.
                            </p>
                            <form action="/../cgi-bin/upload.cgi" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="rbt-media-file">Note: The server only supports *.mp3 file format.</label>
                                    <input name="file" type="file" class="form-control-file" id="rbt-media-file">
                                </div>
                                <button type="submit" class="btn btn-primary">Upload</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row ends here -->

            <!-- row starts here -->
            <div style="width: 700px;margin:0 auto;" class="row">
                <div class="col-md-12">
                    <div class="card card-block">
                        <div class="card-body">
                            <h4 class="card-title">Upload BBT Media</h4>
                            <p class="card-text">
                                Click Browse button to choose your BBT media file and hit Upload button to upload it to the server.
                            </p>
                            <form action="/../cgi-bin/upload.cgi" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="bbt-media-file">Note: The server only supports *.mp3 file format.</label>
                                    <input name="file" type="file" class="form-control-file" id="bbt-media-file">
                                </div>
                                <button type="submit" class="btn btn-primary">Upload</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row ends here -->

            {% placeholder content %}
        </div>
    </div>
    <!-- main container ends here -->
    
{% endblock content %}